body {
  box-sizing: border-box;
  background-color: rgb(203, 218, 233);
  height: 100vh;
}
/* start section */
#start {
  display: flex;
  justify-content: center;
}

#start button {
  cursor: pointer;
  font-weight: bold;
  margin-top: 80px;
  border-radius: 8px;
  border-width: 2px;
}

/* rules section */
#rules,
#quiz,
#result {
  display: none;
  background-color: transparent;
  width: 80%;
  margin-left: 10%;
}

.card-content {
  color: navy;
  font-weight: bold;
}

#rules h2,
#result h5 {
  text-align: center;
  color: rgb(41, 99, 165);
  border-bottom: 2px solid white;
  padding: 20px 0;
}

#rules ol {
  font-size: 18px;
  margin-left: 30px;
  line-height: 28px;
}

#quiz button {
  width: 80%;
  font-weight: bold;
  margin-left: 20px;
}

.button {
  width: 150px;
  font-weight: bold;
  margin-left: 20px;
}

#quiz_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#quiz_header h3 {
  color: navy;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

#timer {
  width: 130px;
  border: 1px solid navy;
  border-radius: 3px;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

#timer h6 {
  font-size: 16px;
  color: red;
  margin: 0 10px;
  font-weight: bold;
}

/* questions */
#quiz #question {
  display: flex;
}

#quiz #question h4 {
  color: rgb(41, 99, 165);
  font-size: 20px;
  font-weight: bold;
}

#questionNo {
  margin-right: 5px;
}

#quiz #optionList h5 {
  line-height: 50px;
  margin: 5px 0;
  border-radius: 5px;
  padding: 0 20px;
  font-size: 20px;
  overflow: hidden;
  border: 1px solid navy;
  cursor: pointer;
}

#optionList h5:hover {
  background-color: rgb(41, 99, 165);
  color: #e7f1fa;
}

#quiz .card-content #optionList .active {
  background-color: rgb(59, 59, 122);
}

#quiz #optionList .disabled {
  pointer-events: none;
}

#quiz #total_correct {
  color: navy;
  font-weight: bold;
}

#score {
  font-weight: bold;
  text-align: center;
}

@media (max-width: 768px) {
  #quiz_header h3 {
    font-size: 20px;
  }

  #quiz #question h4 {
    font-size: 16px;
    font-weight: bold;
  }
}
